<!DOCTYPE html>
<html lang ="en"> 
<head>
    <meta charset ="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a> | <a class="navbar-brand" href="/projects">Projects</a> | <a class="navbar-brand" href="/contact">Contact</a>
        </nav>
        <h1 id="contact"> Call Me, Beep Me if You Wanna Reach Me.</h1>

        </div>
    <form>
        <label>Name:</label><br>
        <input type="text"><br>
        <label>Email:</label><br>
        <input type="text"><br>
        <label>Message</label><br>
        <textarea></textarea><br>
        <button>Submit!</button>
    </form>
    </div>
    </div>
</body>
</html>