<!DOCTYPE html>
<html lang ="en"> 
<head>
    <meta charset ="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a> | <a class="navbar-brand" href="/projects">Projects</a> | <a class="navbar-brand" href="/contact">Contact</a>
            </div>
        </nav>
        <div class ="aboutMe">
            <h1> About Me</h1>
            <img class="developer" src="~/images/IMG_1363.PNG" alt="me">
            <h2>Lorena Campos</h2>
        <p>lorem ipsum dolor sit amet. something about me. im just trying to make this long to see if my css will style correctly. i like sloths and dogs. I love space, i actually wanted to be an astronanut when i was little but then i found out you need close to perfect vision to become one and i cried. its for the best i guess, its a lot more work to become an astronanut and NASA only takes around 10 or less people to actually start training for space. </p>

        </div>
        
    </div>
    
    
</body>
</html>