<!DOCTYPE html>
<html lang ="en"> 
<head>
    <meta charset ="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a> | <a class="navbar-brand" href="/projects">Projects</a> | <a class="navbar-brand" href="/contact">Contact</a>
        </nav>
        <h1> Here are some cool projects!</h1>

        <div class ="proj">
            <h2>Project 1</h2>
            <img class="projects" src="~/images/pinktarot.jpg" alt ="tarot"> 
            <h4><b>Tarot Reading</h4></b>
            <p> I made this project because I am really into tarot card readings. It is a pretty simple concept, a user just picks a card and it gives you your reading. the descriptions of the cards are pretty general, I tried making it more interactive by having the user type in a question. </p>
        </div>

        <div class ="proj">
            <h2>Project 2</h2>
            <img class="projects" src="~/images/plants.jpg" alt ="plants"> 
            <h4><b>Plant Care</h4></b>
            <p> I made this project because I love the idea of having of a lot of plants in my home. Unfortunatly they always die quickly because i do not care for them properly. I created this with various lists from various resources in order to better care for your plants. I also included a section where you upload a picture of your plant and it takes you directly to the list of how to best care for your plant. </p>
        </div>

        <div class ="proj">
            <h2>Project 3</h2>
            <img class="projects" src="~/images/courage.jpg" alt ="courage"> 
            <h4><b>Courage Saves The Day</h4></b>
            <p> This game takes the same inspiration as PacMan. the characters chase you faster as you move up so courage has to save muriel from all the scary villains before the clock runs out. He can collect weapons to help defeat them but he can only carry one at a time. </p>
        </div>
    </div>
    
</body>
</html>